RewriteEngine on

#home
RewriteRule ^home/demo.html$ home/demo.html [L]
RewriteRule ^/?$ home/trang_chu/index.php [L]
RewriteRule ^nguoi_dung/kich_hoat$ home/nguoi_dung/kich_hoat.php [L,QSA]
RewriteRule ^([a-z_]+)/([a-z_]+)\.html$ home/$1/$2.php [L]
RewriteRule ^([a-z_]+)/([a-z_]+)\.php$ home/$1/$2.php [L]


#forum
RewriteRule ^([0-9a-zA-Z-.]+)/?$ forum/trang_chu/index.php?forum=$1 [L,QSA]
RewriteRule ^([0-9a-zA-Z-.]+)/([a-z_]+)/([a-z_]+)$ forum/$2/$3.php?forum=$1 [L,QSA]

###
RewriteRule ^([0-9a-zA-Z-.]+)/admin/?$ forum/admin/quan_tri/dang_nhap.php?forum=$1 [L,QSA]
RewriteRule ^([0-9a-zA-Z-.]+)/admin/([a-z_]+)/([a-z_]+)\.php$ forum/admin/$2/$3.php?forum=$1 [L,QSA]
