/* General Markup Styles
---------------------------------------- */

@font-face {
    font-family: "BebasNeueRegular";
    font-style: normal;
    font-weight: normal;
    src: url("./font/bebasneue/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("./font/bebasneue/BebasNeue-webfont.woff") format("woff"), url("./font/bebasneue/BebasNeue-webfont.ttf") format("truetype"), url("./font/bebasneue/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
}
	
/* un-or-comment this line if you want to change the post content font only */
.postbody .content {
    color: #495d60;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	font-family:inherit;
	font-size: 1.1em;	
}
/* un-or-comment this line if you want to change the post content font only */

h3 {
	/* Sub-headers (also used as post headers, but defined later) */
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 3px;
	padding-bottom: 2px;
	font-size: 1.05em;
	color: #989898;
	margin-top: 20px;
}


hr {
	/* Also see tweaks.css */
	border: 0 none #FFFFFF;
	border-top: 1px solid #CCCCCC;
	height: 1px;
	margin: 5px 0;
	display: block;
	clear: both;
}

hr.dashed {
	border-top: 1px dashed #CCCCCC;
	margin: 10px 0;
}


/* Main blocks
---------------------------------------- */
#wrap {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 4px rgba(50, 50, 50, 0.5);
    margin: 20px auto;
    padding: 10px;
}

#content-forum {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 14px #FFFFFF;
}

.padding_0_40 {
    padding: 12px;
}

.corners{
    border-radius: 8px 8px 8px 8px;
    display: block;
}

#simple-wrap {
	padding: 6px 10px;
}

#page-body {
	margin: 4px 0;
	clear: both;
}

#page-footer {
	clear: both;
}

#page-footer h3 {
	margin-top: 20px;
}

/* Pagination
---------------------------------------- */
strong.pagination {
	height: 1%; /* IE tweak (holly hack) */
	width: auto;
	text-align: right;
	margin-top: 5px;
	float: right;
}

.pagination span.page-sep {
	display: none;
}

li.pagination {
	margin-top: 0;
}

.pagination strong, .pagination b {
	font-weight: normal;
}


.pagination span a:hover {
	border-color: #d2d2d2;
	background-color: #d2d2d2;
	color: #FFF;
	text-decoration: none;
}

/* Pagination in viewforum for multipage topics */
strong.pagination {
	display: block;
	float: right;
	width: auto;
	margin-top: 0;
	padding: 1px 0 1px 15px;
	font-size: 0.9em;
	background: none 0 50% no-repeat;
}

.pagination span a, li.pagination span a {
	background-color: #FFFFFF;
}

.pagination span a:hover, li.pagination span a:hover {
	background-color: #d2d2d2;
}

/* Miscellaneous styles
---------------------------------------- */
#forum-permissions {
	float: right;
	width: auto;
	padding-left: 5px;
	margin-left: 5px;
	margin-top: 10px;
	text-align: right;
}

.error {
	color: #bcbcbc;
	font-weight: bold;
	font-size: 1em;
}

.reported {
	background-color: #f7f7f7;
}

li.reported:hover {
	background-color: #ececec;
}

div.rules {
	background-color: #ececec;
	color: #bcbcbc;
	padding: 0 10px;
	margin: 10px 0;
	font-size: 1.1em;
}

div.rules ul, div.rules ol {
	margin-left: 20px;
}

p.rules {
	background-color: #ececec;
	background-image: none;
	padding: 5px;
}

p.rules img {
	vertical-align: middle;
	padding-top: 5px;
}

p.rules a {
	vertical-align: middle;
	clear: both;
}

#top {
	position: absolute;
	top: -20px;
}

.clear {
	display: block;
	clear: both;
	font-size: 1px;
	line-height: 1px;
	background: transparent;
}
