RewriteEngine on

#home
RewriteRule ^home/demo.html$ home/demo.html [L]
RewriteRule ^/?$ home/trang_chu/index.php [L]
RewriteRule ^nguoi_dung/kich_hoat$ home/nguoi_dung/kich_hoat.php [L,QSA]
RewriteRule ^([a-z_]+)/([a-z_]+)\.html$ home/$1/$2.php [L]
RewriteRule ^([a-z_]+)/([a-z_]+)\.php$ home/$1/$2.php [L]
RewriteRule ^tim_kiem/dien_dan$ home/tim_kiem/dien_dan.php [L,QSA]
RewriteRule ^([a-z_]+)$ home/$1/index.php [L]
RewriteRule ^([a-z_]+)$ home/$1/index.php [L]
RewriteRule tai_khoan/([a-zA-z0-9]+)-([a-z.]+)$ home/tai_khoan/thong_tin.php?ma=$1 [L,QSA]


#forum
RewriteRule ^([0-9]+)/([0-9a-zA-Z-.]+)/?$ forum/trang_chu/index.php?linh_vuc=$1&forum=$2 [L,QSA]
RewriteRule ^([0-9]+)/([0-9a-zA-Z-.]+)/([a-z_]+)/([a-z_]+)$ forum/$3/$4.php?linh_vuc=$1&forum=$2 [L,QSA]

###
RewriteRule ^([0-9]+)/([0-9a-zA-Z-.]+)/admin/?$ forum/admin/quan_tri/dang_nhap.php?linh_vuc=$1&forum=$2 [L,QSA]
RewriteRule ^([0-9]+)/([0-9a-zA-Z-.]+)/admin/([a-z_]+)/([a-z_]+)\.php$ forum/admin/$3/$4.php?linh_vuc=$1&forum=$2 [L,QSA]
