.forum input[type="text"], .forum textarea{
	width: 49.3333%;
}

.menu li ul{
	margin-top: 20px;
	position: absolute;
	margin-left: 2px;
	display: none;
}
.menu li a:hover > .menu li ul{
	display: block;
}

/****************** STYLE CHECKBOX *****************************/
input[type=checkbox].css-checkbox {
position: absolute; 
overflow: hidden; 
clip: rect(0 0 0 0); 
height:1px; 
width:1px; 
margin:-1px; 
padding:0;
border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
padding-left:20px;
height:15px; 
display:inline-block;
line-height:15px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:15px;
vertical-align:middle;
cursor:pointer;
transition: 0.6s ease-in-out;
}
input[type=checkbox].css-checkbox + label.css-label:hover{
	color: crimson;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
background-position: 0 -15px;
}

.css-label{
background-image:url(../images/lite-orange-check.png);
}


/********************* STYLE FIELD **************************/
#total-field{
	width: 70%;
	margin:auto
}
#total-field .title{
	font-size: 13px;
	margin-bottom: 20px;
	text-align:left;
	padding: 7px;
	border-radius: 2px;
	background: #15A285;
	color: white;
}
.field{
	width: 40%;
	float:left;
	margin-left: 9%;
	margin-bottom:30px;
}
.title-field{
	padding: 5px; 
	background-color: #999; 
	text-align:left; 
	padding-left: 10px; 
	margin-bottom:5px;
	width: 60%;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #ccc;
	margin:auto;
}
.title-field .img{
	width:16px; 
	height:16px; 
	float:left; 
	margin-right: 10px; 
	margin-top: 1px;
}
.title-field #soccer{
	background:url(../images/icon/soccer.png); 
}
.title-field #education{
	background:url(../images/icon/education.png);
}
.title-field #music{
	background:url(../images/icon/music.png);
}
.title-field #it{
	background:url(../images/icon/it.png);
}
.title-field span{
	font-size: 14px;
	text-shadow: 0 1px 0 #10816A;
	color: white; 
	text-transform:uppercase; 
}

/**************** POP UP *****************************/
#lean_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background: #000;
	display: none;
}

#test{
	width: 600px;
	padding: 30px;
	display: none;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}
#login, .form{
	width: 30%;
	padding-bottom: 2px;
	display: none;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
	
	position: fixed; 
	opacity: 1; 
	z-index: 550; 
	left: 40%;  
	top: 200px;
	border: 1px solid #17AE8F;
}
#login-header, .form-header{
	background: #17AE8F;
	padding: 10px;
	border-bottom: 1px solid #CCC;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	font-size: 18px;
	text-transform:uppercase;
	text-shadow: 0 1px 0 #10816A;
	color:white;
	text-align:center;
}
.modal_close{
	/*
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	width: 11px;
	height: 11px;
	background: url(../images/cross.png);
	z-index: 2;
	*/
}
#login #content{
	padding: 10px;
	margin: 5px;
}

/******* LABEL MS FORM *****/
#msform label{
	color: #999;
	font-size: 15px;
}
.red{
	color: crimson;
}

/**********************************/

.css input[type="radio"] {
   position:absolute;
   opacity: 0;
   -moz-opacity: 0;
   -webkit-opacity: 0;
   -o-opacity: 0;
}
.css input[type="radio"] + .css label {
   position:relative;
   padding: 0 0 0 25px;
}
.css input[type="radio"] + .css label:before {
   content:"";
   display:block;
   position:absolute;
   top:2px;
   height: 14px;
   width: 14px;
   background: white;
   border: 1px solid gray;
   box-shadow: inset 0px 0px 0px 4px white;
   -webkit-box-shadow: inset 0px 0px 0px 4px white;
   -moz-box-shadow: inset 0px 0px 0px 4px white;
   -o-box-shadow: inset 0px 0px 0px 4px white;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -o-border-radius: 8px;
}
.css input[type="radio"]:checked + .css label:before {
   background: #ef8700;
}
.css input[type="radio"] {
   position:absolute;
   opacity: 0;
   -moz-opacity: 0;
   -webkit-opacity: 0;
   -o-opacity: 0;
}
.css input[type="radio"] + .css label {
   position:relative;
   padding: 0 0 0 25px;
}
.css input[type="radio"] + .css label:before {
   content:"";
   display:block;
   position:absolute;
   top:2px;
   height: 14px;
   width: 14px;
   background: white;
   border: 1px solid gray;
   box-shadow: inset 0px 0px 0px 4px white;
   -webkit-box-shadow: inset 0px 0px 0px 4px white;
   -moz-box-shadow: inset 0px 0px 0px 4px white;
   -o-box-shadow: inset 0px 0px 0px 4px white;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -o-border-radius: 8px;
}
.css input[type="radio"]:checked + .css label:before {
   background: #ef8700;
}

/************* SIGN UP *********************/
#signup{
	width: 40%;
	padding-bottom: 2px;
	display: none;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
	
	position: absolute; 
	opacity: 1; 
	z-index: 550; 
	left: 40%;  
	top: 50px;
	border: 1px solid #17AE8F;
}
#signup-header {
	background: #17AE8F;
	padding: 10px;
	border-bottom: 1px solid #CCC;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	font-size: 18px;
	text-transform:uppercase;
	text-shadow: 0 1px 0 #10816A;
	color:white;
	text-align:center;
}
#signup #content{
	padding: 10px;
	margin: auto;
	text-align: center;
}

/*************** USER **********************/
.user{
	width: 70%;
	margin-bottom: 30px;
}
.user .title{
	padding: 5px 10px 5px 0px;
	/*border-bottom: 1px solid #999;*/
	margin-bottom: 20px;
}
.user .title h3{
	font-size: 1.2em;
	font-weight: 600;
	text-transform:uppercase;
	color: #999;
}
.user #img{
	width: 168px;
	height: 168px;
	box-shadow: 3px 3px 3px #ccc;
}
.user label{
	font-size: 15px;
	margin-left: 28px;
	color: #666;
}
.user label.info{
	font-size: 15px;
	margin-left: 8px;
	color: #8AB6A5;
	font-weight:bold;
}

/************* User form ******************/
#info-edit .textbox, #info-edit-contact .textbox{
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
	width: 100%;
}

/************* CLASS ERROR *****************/
label.error{
	color: crimson;
	font-style:italic;
	margin-left: 10px;
	font-size: 15px;
}
label{
	font-size: 15px;
}


#signup .textbox{
	width: 100%;
}
.ui-widget-header{
	background: #17AE8F !important;
	border: 1px solid #17AE8F;
}
.ui-widget{
	
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	color: #17AE8F;
}
.ui-widget-content{
	background: white;
}
.ui-datepicker .ui-datepicker-title select{
	padding: 0px;
}
.ui-datepicker .ui-datepicker-title select{
	font-size: 15px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
	display: none;
}