form label {
	padding: 0px;
}
.left {
	font-weight:bold;
}
/*begin **************** fix table *******************************/
.table caption {
	font-size: 16px;
	color:#F60;
	font-weight:bold;
	margin-bottom: 10px;
}
.table .left {
	font-weight:bold;
}
.table select {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 4px;
	background: #fff;
	border: 1px solid #d5d5d5;
	color: #333;
}
