/* CSS Document */

/* --------------------------------------------------------------
Global Color Change
-------------------------------------------------------------- */
.table-primary thead th {
    background-color: #F47221;
	border-color: #F47221;
}

.subheader {
    border-top: 4px solid #F47221 !important;
}

footer .navList a {
  color: #F47221 !important;
}

.submenu {
    border-bottom: 4px solid #F47221;
}

.submenu li:hover > a {
  color: #F47221;
}
.submenu li:hover > span {
  background-color: #F47221;
}

.logo-transition a:after {
    color: #F47221;
}

.label-info, .badge-info {
    background-color: #F47221 !important;
}

#navBtn {
    background-color: #F47221;
}

#navBtn:hover {
    background-color: #F69051;
}

.pagination.pagination-small a {
    color: #F47221;
}

.pagination.pagination-small a:hover {
    color: #F69051;
}

.tabbable-custom .nav-tabs > li.active {
    border-top: 3px solid #F47221;
}

.ver-inline-menu li.active a, .ver-inline-menu li.active i {
    background: none repeat scroll 0 0 #F47221;
    border-left: 1px solid #F47221;
}

.ver-inline-menu li.active:after {
    border-left: 6px solid #F47221;
}

.ver-inline-menu li.active i {
    background: none repeat scroll 0 0 #F69051 !important;
}

.alert.alert-info {
    background-color: #F47221;
}



.nav-icon:hover [class*="has-sub"] {
color: #F47221;
}

.mainnav-mob > ul > li:hover > a,
.mainnav-mob > ul > li.current > a {
    color: #FF6303;
  }

#footerContent blockquote p span {
    color: #F47221;
}

.logo span {
    color: #F47221;
}

#top-line {
    background: none repeat scroll 0 0 #F47221;
}

.side-segment h3:after, .side-segment h2:after {
    background-color: #F47221;
}


.twitter-layout:before {
    color: #F47221;
}

footer .bottomLinks small a {
    color: #F47221;
}

#scrollUp {
    background-color: #F47221;
    background-image: linear-gradient(#F47221, #F0630C 85%, #D8590B);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #D8590B !important;
}


#page-body .bar{
color: #8C8C8C;
}


.postbody h3 a {
    color: #F47221 !important;
}

/* Links for forum/topic lists */
a.forumtitle {
	color: #F47221;
}


a.topictitle {
	color: #F47221;
}

footer {
    border-top: 3px solid #F47221;
}



/* --------------------------------------------------------------
Global Color Change
-------------------------------------------------------------- */